*{   /*reset layout*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header{
    background-color: white;
    height: 70px;
    font-weight: bold;
    font-size: 50px;
    
}

header img{
    padding:  10px 10px;
}

header span{
    position: relative;
    top: -18px;
    
}
/* /Header */


main{
    background-color: grey;
    height: 600px;
    padding-top: 40px;
}

/* ------ Contenitore  ------- */
#container{
    border-radius: 6px;
    background-color: white;
    margin: 0 auto;
    min-width: 700px;
    width: 70%;
    height: 80%;
}

#container_head{
    width: 100%;
    height: 40px;
    padding-left: 30px;
}

/* ------ pulsanti  ------- */

#container_head div{
    display: inline-block;
    height: 30px;
    width: 90px;
    margin: 5px 10px;
    border-radius: 15%;
    line-height: 30px;
    text-align: center;
    
}
.button1{
    background-color: #47ADF1;
    color: white;
    border: 1px solid #47ADF1;
}
.button2{
    background-color: white;
    color: grey;
    border: 1px solid grey;
}
/* ------ /pulsanti  ------- */

section h3{
    color: #444851;
    font-weight: bold;
}

section{
    margin-top: 20px;
}

#container_body{
    margin: 20px 50px;
}

/* ------ /Contenitore  ------- */


